/* Estilos generales */
*{
    background-color: #19262e;
    font-size: 19px;
    /* font-style: italic; */
    color: white;
}

/* Estilos individuales */
QWidget#wgtCentral{
    border: 3px solid #19262e;

}

QLabel#lbDatos{
    border-bottom: 3px double #06ec79;

}

QListView#ltLista{
    background-color:rgb(38, 59, 59);
    border: 3px solid rgb(38, 59, 59);
}

QPushButton:pressed {
    background-color: #05081f;
    border: .7px solid #13b84a;
    border-style: inset;

}

QListView::item::hover{
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #FAFBFE, stop: 1 #DCDEF1);
}
/* QListView#ltLista */
QLabel#lbTitulo{
    border: none;
}


QSlider::groove:horizontal {
    border: 1px solid #f0ec18;
    height: 4px; /* the groove expands to the size of the slider by default. by giving it a height, it has a fixed size */
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #0f0631, stop:1 #0f0631);
    margin: 2px 0;
}

QSlider::handle:horizontal {
    background: qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0 #18f0c1, stop:1 #18f0c1);
    border: 1px solid #18f0ba;
    width: 18px;
    margin: -2px 0; /* handle is placed by default on the contents rect of the groove. Expand outside the groove */
    border-radius: 3px;
}